@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: orange;
    

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        padding-left: 60px;
        padding-top: 10px;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}