@use '../variables';

.infos-bar{
    background-color: variables.$textColor;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    border: 2px solid variables.$border;
    margin-top: 25px;

    &__infos {
        padding: 0 40px;
        display: flex;
        gap: 40px;

            &__text {
                padding: auto;
                font-size: 14px;

                    b {
                        font-size: 18px;
                        display: block;
                    }
                }
            }

            @media (max-width: 640px) {
                display: block;
                padding: 10px;

                &__infos{
                    display: block;
                    
                    &__text{
                        margin-bottom: 10px;
                    }
                }
            }

            @media (max-width: 1024px) {
                &__infos{
                    gap: 16px;
                }
            }
}